.body{
    overflow: hidden;
}

.outline_show{
    border:1px solid red;
}
div[screen$="start"]{
    height:100vh;
    text-align: center;
}
.fullWidth{
    width:100vw;
    margin-left:auto;
    margin-right: auto;
    max-width:initial;
}
h1{
    font-family: 'Source Code Pro', ;
}
h1[screen$="start"]{
    color:lightgray;
}
h3{
    font-family: 'Source Code Pro',;
}
h3[screen$="start"]{
    color:lightgray;
}
.background-vid[screen$="start"]{
    position:absolute;
    width:100%;
    height:100%;
    color: black;
    z-index:-1;
}
.vid {
    position: relative;
    top: 50%;
    left:50%;
    min-width:100%;
    min-height:100%;
    width:auto;
    height:auto;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%,-50%);
    background-size:cover;
    z-index: -1;
}
.start_text{
    margin-top:5%;
}
.row[screen^="screen"][pos="1"]{
    height:15%;
    min-width:100%;
    top:0;
    overflow:hidden;
}
.row[screen^="screen"][pos="2"]{
    height:70%;
}
.row[screen^="screen"][pos="3"]{
    height:15%;
    min-width:100%;
    bottom:0;
}
.row[pos="3"]:hover{
    animation-name: scale_animate;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-play-state:running;
}
div[pos*="center"]{
    overflow: hidden;
}
[clock-pad^="clock"]{
    height:100%;
}
[input-padding-left]{
    margin-left:30%;
    max-width:200px;
}
[input-padding-right]{
    margin-right:30%;
    max-width:200px;
}
.input-center{
    margin-top:35%;
}
.input-code{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    width:10vw;
}
@media only all and (max-width:600px){
    [input-padding-left]{
        margin-left:15%;
    }
    [input-padding-right]{
        margin-right:15%;
    }
}
.headphone-icon{
    width:auto;
    height:auto;
}
div[align-right]{
    height:100%;
    float:right;
}
.clock-hint{
    color:white;
}
div[pos]{
    height:100%;
    z-index:100;
}
div[pos*="left"]{
    position:absolute;
    left:0;
    margin:auto;
    top:50%;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    background-color:lightgrey;
    clip-path: polygon(0 0, 0 100%, 100% 85%, 100% 15%);
	-webkit-clip-path: polygon(0 0, 0 100%, 100% 85%, 100% 15%);
}
div[pos*="right"]{
    position:absolute;
    right:0;
    margin:auto;
    top:50%;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    background-color:lightgrey;
    clip-path: polygon(0% 15%, 0% 85%, 100% 100%, 100% 0%);
	-webkit-clip-path: polygon(0% 15%, 0% 85%, 100% 100%, 100% 0%);
}
div[pad$="2"]{
    background-color:white;
    z-index: 200;
}
div[pad="left-2"]{
    clip-path: polygon(0 0, 0 100%, 100% 93%, 100% 7%);
	-webkit-clip-path: polygon(0 0, 0 100%, 100% 93%, 100% 7%);
}
div[pad="right-2"]{
    clip-path: polygon(0% 7%, 0% 93%, 100% 100%, 100% 0%);
	-webkit-clip-path: polygon(0% 7%, 0% 93%, 100% 100%, 100% 0%);
}
div[pad]{
    height:100%;
}
button[data^="data-drop"]{
    top:50%;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    max-width:10%;
}
button[data$="drop-left"]{
    float:left;
    left:20%;
}
button[data$="drop-right"]{
    float:right;
    right:20%;
}
@media all and (max-width: 600px){
    button[data$="drop-left"]{
        left:10%;
    }
    button[data$="drop-right"]{
        right:10%;
    }
}
div[pos^="room-center"]{
    left:50%;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
}
[fullscreen]{
    position:fixed;
    min-width:100%;
    min-height:100%;
    width:auto;
    height:auto;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index:1000;
    background-size:cover;
}
div[fullscreen]{
    width:100%;
    height:100%;
}
[pos^="hall-left"][pos$="1"]{
    background-color:#ff728c;
    animation-name: wall_animate_1;
    animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state:running;
}
    @keyframes wall_animate_1 {
		0% {background-color:#ffc272;}
		
        50% {background-color:#ffe3bf;}
		
        100% {background-color:#ffc272;}
    }
	@-webkit-keyframes wall_animate_1 {
		0% {background-color:#ffc272;}
		
        50% {background-color:#ffe3bf;}
		
        100% {background-color:#ffc272;}
    }
    @-moz-keyframes wall_animate_1 {
		0% {background-color:#ffc272;}
		
        50% {background-color:#ffe3bf;}
		
        100% {background-color:#ffc272;}
    }
[pos^="hall-right"][pos$="1"]{
    background-color:#ff728c;
    animation-name: wall_animate_2;
    animation-delay: 1s;
    animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state:running;
}
    @keyframes wall_animate_2 {
		0% {background-color:#ff728c;}
		
        50% {background-color:#ffbfca;}
		
        100% {background-color:#ff728c;}
    }
	@-webkit-keyframes wall_animate_2 {
		0% {background-color:#ff728c;}
		
        50% {background-color:#ffbfca;}
		
        100% {background-color:#ff728c;}
    }
    @-moz-keyframes wall_animate_2 {
		0% {background-color:#ff728c;}
		
        50% {background-color:#ffbfca;}
		
        100% {background-color:#ff728c;}
    }
[pos^="hall-left"][pos$="2"]{
    background-color:#ff728c;
    animation-name: wall_animate_3;
    animation-delay: 0s;
    animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state:running;
}
    @keyframes wall_animate_3 {
		0% {background-color:#a1ff8c;}
		
        50% {background-color:#cbffbf;}
		
        100% {background-color:#a1ff8c;}
    }
	@-webkit-keyframes wall_animate_3 {
		0% {background-color:#a1ff8c;}
		
        50% {background-color:#cbffbf;}
		
        100% {background-color:#a1ff8c;}
    }
    @-moz-keyframes wall_animate_3 {
		0% {background-color:#a1ff8c;}
		
        50% {background-color:#cbffbf;}
		
        100% {background-color:#a1ff8c;}
    }
[pos^="hall-right"][pos$="2"]{
    background-color:#ebd2d7;
    animation-name: wall_animate_4;
    animation-delay: 1s;
    animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state:running;
}
    @keyframes wall_animate_4 {
		0% {background-color:#ebd2d7;}
		
        50% {background-color:#f3f3f3;}
		
        100% {background-color:#ebd2d7;}
    }
	@-webkit-keyframes wall_animate_4 {
		0% {background-color:#ebd2d7;}
		
        50% {background-color:#f3f3f3;}
		
        100% {background-color:#ebd2d7;}
    }
    @-moz-keyframes wall_animate_4 {
		0% {background-color:#ebd2d7;}
		
        50% {background-color:#f3f3f3;}
		
        100% {background-color:#ebd2d7;}
    }
[pos^="hall-left"][pos$="3"]{
    background-color:#ff9f72;
    animation-name: wall_animate_5;
    animation-delay: 1s;
    animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state:running;
}
    @keyframes wall_animate_5 {
		0% {background-color:#ff9f72;}
		
        50% {background-color:#ffc2a5;}
		
        100% {background-color:#ff9f72;}
    }
	@-webkit-keyframes wall_animate_5 {
		0% {background-color:#ff9f72;}
		
        50% {background-color:#ffc2a5;}
		
        100% {background-color:#ff9f72;}
    }
    @-moz-keyframes wall_animate_5 {
		0% {background-color:#ff9f72;}
		
        50% {background-color:#ffc2a5;}
		
        100% {background-color:#ff9f72;}
    }
[pos^="hall-right"][pos$="3"]{
    background-color:#00e8bd;
    animation-name: wall_animate_6;
    animation-delay: 0s;
    animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state:running;
}
    @keyframes wall_animate_6 {
		0% {background-color:#00e8bd;}
		
        50% {background-color:#83ffe8;}
		
        100% {background-color:#00e8bd;}
    }
	@-webkit-keyframes wall_animate_6 {
		0% {background-color:#00e8bd;}
		
        50% {background-color:#83ffe8;}
		
        100% {background-color:#00e8bd;}
    }
    @-moz-keyframes wall_animate_6 {
		0% {background-color:#00e8bd;}
		
        50% {background-color:#83ffe8;}
		
        100% {background-color:#00e8bd;}
    }
[pos^="hall-left"][pos$="4"]{
    background-color:#a1ff8c;
    animation-name: wall_animate_7;
    animation-delay: 0s;
    animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state:running;
}
    @keyframes wall_animate_7 {
		0% {background-color:#a1ff8c;}
		
        50% {background-color:#e0ffd9;}
		
        100% {background-color:#a1ff8c;}
    }
	@-webkit-keyframes wall_animate_7 {
		0% {background-color:#a1ff8c;}
		
        50% {background-color:#e0ffd9;}
		
        100% {background-color:#a1ff8c;}
    }
    @-moz-keyframes wall_animate_7 {
		0% {background-color:#a1ff8c;}
		
        50% {background-color:#e0ffd9;}
		
        100% {background-color:#a1ff8c;}
    }
[pos^="hall-right"][pos$="4"]{
    background-color:#00c5e8;
    animation-name: wall_animate_8;
    animation-delay: 1s;
    animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state:running;
}
    @keyframes wall_animate_8 {
		0% {background-color:#00c5e8;}
		
        50% {background-color:#b6f4ff;}
		
        100% {background-color:#00c5e8;}
    }
	@-webkit-keyframes wall_animate_8 {
		0% {background-color:#00c5e8;}
		
        50% {background-color:#b6f4ff;}
		
        100% {background-color:#00c5e8;}
    }
    @-moz-keyframes wall_animate_8 {
		0% {background-color:#00c5e8;}
		
        50% {background-color:#b6f4ff;}
		
        100% {background-color:#00c5e8;}
    }
button[data^="data-button"]{
	background:#00e8bd;
    border-style: none;
    border-radius:10%;
    height:5%;
	width:5%;
	position:relative;
	top:50%;
	transform: translateY(-50%);
    padding: 2px 6px 3px;
}
button[data*="left"] {
    left:20%;
}
button[data*="right"] {
    float:right;
    right:20%;
}
button[data^="data-button-scale"]{
    float:left;
    margin-left:3.75%;
    margin-right:3.75%;
}
button[data$="scale-1"]{
    background-color: #a1ff8c;
}
button[data$="scale-2"]{
    background-color: #ffc272;
}
button[data$="scale-3"]{
    background-color: #ebd2d7;
}
button[data$="scale-4"]{
    background-color: #00e8bd;
}
button[data$="scale-5"]{
    background-color: #ff9f72;
}
button[data$="scale-6"]{
    background-color: #ff728c;
}
button[data$="scale-7"]{
    background-color: #00c5e8;
}
button[data$="scale-8"]{
    background-color: #b08cff;
}

@media only all and (max-width:600px){
    button[data^="data-button-scale"]{
        top: 12%;
        margin-left:50%;
        margin-right:50%;
        position:relative;
        display: inline-block;
        text-align: center;
        margin-top:3.5%;
        margin-bottom: 3.5%;
    }
}
.dirt{
    position:absolute;
    left:0;
    right:0;
    bottom:3%;
    margin:auto;
    height:4%;
    width:20%;
    background:rgba(255,255,255,0.2);
    overflow:hidden;
    z-index: 100;
    transition:height 1s ease-in;
}
.dirt:hover{
    height:92%;
    transition:height 3s ease-in-out;
}
.animate[pos="room-center-3"]{
    animation-name: scale_animate;
	animation-duration: 8.03s;
	animation-timing-function: cubic-bezier(0.41, 0.13, 0.91,-0.61);
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-play-state:running;
}
    @keyframes scale_animate {
		0% {background:#ff728c;}
		12.5% {background:#ff9f72;}
		25% {background:#ffc272;}
		37.5% {background:#a1ff8c;}
        50% {background:#00e8bd;}
		62.5% {background:#00c5e8;}
		75% {background:#b08cff;}
		87.5% {background:#ebd2d7;}
        100% {background:#ff728c;}
    }
	@-webkit-keyframes scale_animate {
		0% {background:#ff728c;}
		12.5% {background:#ff9f72;}
		25% {background:#ffc272;}
		37.5% {background:#a1ff8c;}
        50% {background:#00e8bd;}
		62.5% {background:#00c5e8;}
		75% {background:#b08cff;}
		87.5% {background:#ebd2d7;}
        100% {background:#ff728c;}
	}
	@-moz-keyframes scale_animate {
		0% {background:#ff728c;}
		12.5% {background:#ff9f72;}
		25% {background:#ffc272;}
		37.5% {background:#a1ff8c;}
        50% {background:#00e8bd;}
		62.5% {background:#00c5e8;}
		75% {background:#b08cff;}
		87.5% {background:#ebd2d7;}
        100% {background:#ff728c;}
    }